body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.02vw;
   /* text-shadow: 1px 1px 2px aquamarine;*/
    font-weight: bold;
    color: #61cf5a;
    padding: 0 auto;
    margin: 0 auto;
    background: ;
    background-color: black;
    z-index:1;
    background-image: url('Kekulene.svg'), linear-gradient(#364c80, #082844);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
a:visited {
    color: #3e6a3d;
}
a {
    color: #63ad58;
}
a:hover {
    color: #666;
}
ol, li {
    list-style: none;
}
nav {
padding: 0 auto;
/*border: medium solid green;*/
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    display:inline-block;
   border-right: medium solid green;
   border-left: medium solid green;
    
}
nav a:last-child {
    /*border-right: none;*/
}
header {
    display: block ruby;
    text-align:center;
}
.content {
    position: relative;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: aquamarine;
    padding: 40px 30px;
    border-radius: 20px;
   /* box-shadow: 0 0 30px rgba(0, 255, 0, 0.5); */
    max-width: 1200px; 
    width: 90%;  

    font-family: Georgia, 'Times New Roman', Times, serif;
    /* todo fix*/
    overflow: scroll;
    word-wrap: break-word;
    word-break: break-all;

}

@media (max-width: 600px) {
    .content {
        padding: 20px 15px;
        font-size: 14px;
        width: 95%;
        max-width: none;
    }
}

ul {
 overflow-wrap: break-word;
}
details {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


